<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE"></title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap CSS dan js -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXVlj0HvMUeCBQ+Qvp7JcfGl760yU08IQ+GpUo5hlbpg5lQRiuqHAJz8+BrxE/N" crossorigin="anonymous">
		</script>
	</head>
	<body>
		<div class="container">
			<header class="d-flex justify-content-center py-3">
				<ul class="nav nav-pills">
					<li class="nav-item"><a th:href="@{/}" class="nav-link active" aria-current="page">Home</a></li>
					<li class="nav-item"><a th:href="@{/admin/students}" class="nav-link">Daftar Student</a></li>
					<li class="nav-item"><a th:href="@{/admin/students/add}" class="nav-link">Create Student</a></li>
					<li class="nav-item"><a href="#" class ="nav-link">FAQs</a></li>
					<li class="nav-item"><a href="#" class ="nav-link">About</a></li>
				</ul>
			</header>
		</div>

		<!-- Content Section -->
		<div layout:fragment="content">
			<p>Body contents</p>
		</div>

		<!-- Footer --->
		<footer class="container py-5">
			<div class="row">
				<div class="col-md-12">
					<p class="text-muted">&copy; 2023 bll. All rights reserved.</p>
				</div>
			</div>
		</footer>

		<!-- Optional Section -->
		<th:block layout:fragment="optional"/>
	</body>
</html>